* {
    margin: 0;
    padding: 0;
}
.nikita {
    width: 100%;
    padding-bottom: 141px;
    padding-top: 51px;
}
.shop {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop__title {
    font-family: Liberation Serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}
.shop__description {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 82px;
}
.product-block {
    display: flex;
    justify-content: space-between;
    width: 1256px;
}
.product-element {
    display: flex;
    width: 382px;
    flex-direction: column;
    align-items: center;
}
.product-element__image {
    margin-bottom: 19px;
    width: 382px;
}
.product-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-text-block__title {
    font-family: Liberation Serif;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.product-text-block__description {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 27px;
}
.product-text-block__button {
    width: 180px;
    height: 52px;
    border: 1px solid #191919;
    background: #191919;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}